# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.env
precache-manifest.523a64242b8099f7f958285f8efe2cfb.js
precache-manifest.7ae6c0d11bf8bb57e3ea6b8f96b7f54c.js
/static
asset-manifest.json
manifest.json
/.vs

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
