#title {
  padding-top: 15px;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#board {
  width: 640px;
  height: 640px;
  margin: 35px;

  border: 1.5px solid black;
  zoom: 0.65;
  -moz-transform: scale(0.65);
}

#main {
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 748px) {
    #main {
        flex-direction: column;
    }
    .iterations { text-align: center; margin-top: 1em; }
    .speed-text { text-align: center; margin-top: 1em; }
}

#buttons {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 8px 20px 10px 50px;
  justify-content: space-around;
}

button {

  font-size: 15px;
  background-color: #FFFFF0;
  border: 1px solid;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0px 3px;
}

button:hover {
  background: #F2E3AB;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

button:active {
  box-shadow: 0 1px #27496d;
  transform: translateY(2px);
}

.square {
  width: 80px;
  height: 80px;
  float: left;
}

.knight {
  font-size: 25px;
}

.knight:before {
  content: '\265E';
  color: #FFF;
  font-size: 60px;
  margin-left: 10px;
  text-shadow: 0px 0px 10px #000;
  width: 100%;
  height: 100%;
}


.black {
  background-color: black;
}

.white {
  background-color: #FFFFF0;
}

.visited:before {
  content: 'X';
  color: #FFF;
  font-size: 60px;
  margin-left: 20px;
  text-shadow: 0px 0px 10px #000;
  width: 100%;
  height: 100%;
}

.speed-text {
    margin-left: 10%;
    font-family: 'Libre Baskerville';
}


.slider {
  -webkit-appearance: none;
  margin-left: 10%;
  width: 70%;
  height: 3px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.iterations {
    margin-left: 15%;
    font-family: 'Libre Baskerville';
}
