html {
    height: 100%;
    z-index: -2;
}

.img {
    margin-top: 6.5em;
    height: 420px;
}

.middle {
}

#title {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

h1 {
  font-size: 38px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 22px;
  padding: 0;
  margin: 0;
}

#board {
  width: 720.5px;
  height: 720px;
  margin: 35px;

  border: 1.5px solid black;
  zoom: 0.65;
  -moz-transform: scale(0.65);
}

#main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: absolute;
}


@media only screen and (max-width: 850px) {
    #main { flex-direction: column; }
    .iterations { text-align: center; margin-top: 1em; margin-right: 2.5em;}
    .speed-text { text-align: center; margin-top: 1em; }
    #title { margin-left: 0%; }
    #img { display: none; }
}

#buttons {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 2%;
  padding: 8px 20px 10px 50px;
  justify-content: space-around;
}

button {

  font-size: 15px;
  background-color: #FFFFF0;
  border: 1px solid;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0px 3px;
}

button:hover {
  background: #F2E3AB;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

button:active {
  box-shadow: 0 1px #27496d;
  transform: translateY(2px);
}

.square {
  width: 60px;
  height: 60px;
  float: left;
}

.knight {
  font-size: 25px;
}

.knight:before {
  content: '\265E';
  color: #FFF;
  font-size: 40px;
  margin-left: 10px;
  text-shadow: 0px 0px 10px #000;
  width: 100%;
  height: 100%;
}


.black {
  background-color: black;
}

.white {
  background-color: #FFFFF0;
}

.visited:before {
  content: 'X';
  color: #FFF;
  font-size: 40px;
  margin: 0 0 0 15px;
  text-shadow: 0px 0px 10px #000;
  width: 100%;
  height: 100%;
}

.speed-text {
    margin-left: 8%;
    font-family: 'Libre Baskerville';
}


.slider {
  -webkit-appearance: none;
  margin-left: 10%;
  width: 70%;
  height: 3px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.iterations {
    margin-left: 12%;
    font-family: 'Libre Baskerville';
    font-size: 20px;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    color: inherit; 
}

.no-tufte-underline:link {
    background: unset;
    text-shadow: unset;
}

a:link, .tufte-underline, .hover-tufte-underline:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(currentColor, currentColor);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    background-position: 0% 93%, 100% 93%, 0% 93%; 
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    a:link, .tufte-underline, .hover-tufte-underline:hover {
        background-position-y: 87%, 87%, 87%;
    }
}

a:link::selection,
a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}

a:link, a:active, a:visited {
    color: inherit;
    text-decoration: none;
    background: -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#ccc, #ccc);
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#ccc, #ccc);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
    background-position: 0% 93%, 100% 93%, 0% 93%;
}
